# Hello, World! 
#### Print a string

In [121]:
print("This line will be printed.")

This line will be printed.

# Indentation
#### Python uses indentation for blocks, not curly braces. 
#### Both tabs and spaces are supported;
#### The standard indentation requires standard code to use four spaces

In [122]:
x = 1
if x == 1:
    # indented four spaces
    print("x is 1.")

x is 1.

In [123]:
print("Goodbye, World!")

Goodbye, World!

# Variables and Types
#### Python is completely object oriented, not "statically typed". 
#### You do not need to declare variables before using them
#### Every variable in Python is an object

## Basic types of Variables:

### Numbers
#### Two types of numbers
#### - Integars (whole numbers) and,
#### - Floating Point Numbers (decimals)

In [124]:
# To define an integer, use the following syntax:
myint = 7
print(myint)

7

In [125]:
# To define a floating point number,
# you may use one of the following notations:
myfloat = 7.0
print(myfloat)
myfloat = float(7)
print(myfloat)

7.0
7.0

### Strings

In [126]:
# Strings are defined either with a single quote or a double quotes
mystring = 'hello'
print(mystring)
mystring = "hello"
print(mystring)

hello
hello

In [127]:
# The difference: using double quotes makes it easy to include apostrophes
# Whereas these would terminate the string if using single quotes
mystring = "Don't worry about apostrophes"
print(mystring)

Don't worry about apostrophes

In [128]:
# Additional variations on defining strings that make it easier to include:
# carriage returns, backslashes, and Unicode characters

In [129]:
# Simple operators can be executed on numbers and strings:
one = 1
two = 2
three = one + two
print(three)

hello = "hello"
world = "world"
helloworld = hello + " " + world
print(helloworld)

3
hello world

In [130]:
# Assignments can be done on more than one variable "simultanously" on the same line like this
a, b = 3, 4
print(a, b)

3 4

In [131]:
# Mixing operators between numbers and strings is not supported:
# This will not work! 
one = 1
two = 2
hello = "hello"

print(one + two + hello)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
# change this code
mystring = "hello"
myfloat = 10.0
myint = 20

# testing code
if mystring == "hello":
    print("String: %s" % mystring)
if isinstance(myfloat, float) and myfloat == 10.0:
    print("Float: %f" % myfloat)
if isinstance(myint, int) and myint == 20:
    print("Integer: %d" % myint)

# Lists
#### Similar to arrays. They can contain any type/as many variables as you wish
#### Can be iterated over in a very simple manner

In [ ]:
# Example of how to build a list
mylist = []
mylist.append(1)
mylist.append(2)
mylist.append(3)
print(mylist[0])
print(mylist[1])
print(mylist[2])

# Prints out 1,2,3
for x in mylist:
    print(x)

In [ ]:
# Accesing an index which does not exist generates an exception (an error).
mylist = [1,2,3]
print(mylist[10])

In [ ]:
# Add numbers and strings to coorect lists using "append" method
# Add the numbers 1,2,3 to "numbers" list, 
# The words 'hello' and 'world' to the string variable
# Fill in the variable second_name with the second name in the names list using []
# Note the index is zero-based (if accessing second item, its index will be 1)

numbers = []
strings = []
names = ["John", "Eric", "Jessica"]

# write your code here
numbers.append(1)
numbers.append(2)
numbers.append(3)

strings.append("hello")
strings.append("world")
second_name = names[1]


# this code should write out the filled arrays and the second name in the names list (Eric).
print(numbers)
print(strings)
print("The second name on the names list is %s" % second_name)

# Basic Operators

### Arithmetic Operators

In [ ]:
# The addition, subtraction, multiplication, and division operators can be used with numbers.
number = 1 + 2 * 3 / 4.0
print(number)

### Modulo (%) Operator

In [ ]:
# Returns the integer remainder of the division. 
# dividend % divisor = remainder.

remainder = 11 % 3
print(remainder)

In [ ]:
number1 = 25
number2 = 5

# Find the modulus of 1 by 2
print(number1 % number2)

# The answer is 0 because
# 5 fits into 25 five times with no remainder left

In [ ]:
# How many times does the number after % fit into the first
# You can divide 3 into 10 three times and the remainder will be 1
number1 = 10
number2 = 3
print(number1 % number2)

## Multiplication symbols makes a power relationship (exponent)

In [ ]:
squared = 7 ** 2
cubed = 2 ** 3
print(squared)
print(cubed)

## Using Operators with Strings

In [ ]:
helloworld = "hello" + " " + "world"
print(helloworld)

In [ ]:
# Python also supports multiplying strings to form a string with a repeating sequence

lotsofhellos = "hello" * 10
print(lotsofhellos)

## Using Operators with Lists

In [ ]:
# Lists can be joined with the addition operators:

even_numbers = [2,4,6,8]
odd_numbers = [1,3,5,7]
all_numbers = odd_numbers + even_numbers
print(all_numbers)

In [ ]:
# Just as in strings, Python supports forming new lists with repeating sequence using the
# Multiplication Operator:
print([1,2,3] *3)

In [ ]:
# Create two lists called x_list and y_list, 
# which contain 10 instances of the variables x and y, respectively.
# Create a list called big_list, which contains the variables x and y, 10 times each,
# by concatenating the two lists you have created

x = object()
y = object()

# TODO: change this code
x_list = [x] * 10
y_list = [y] * 10
big_list = x_list + y_list

print("x_list contains %d objects" % len(x_list))
print("y_list contains %d objects" % len(y_list))
print("big_list contains %d objects" % len(big_list))

# testing code
if x_list.count(x) == 10 and y_list.count(y) == 10:
    print("Almost there...")
if big_list.count(x) == 10 and big_list.count(y) == 10:
    print("Great!")

# String Formatting
#### Python uses C-style string formatting to create new, formatted strings.
#### The "%" operator is used to format a set of variable exclosed in a "tuple" (a fixed size list),

#### Together with a format string, which contains normal text together with "argument specifiers", 
#### Special symbols like "%s" and "%d"

In [ ]:
# Let's say you have a variable called "name" with your user name in it
# Then you would like to print(out a greeting to that user.)

#This prints out "Hello, John!"
name = "John"
print("Hello, %s" % name)

In [ ]:
# This prints out "John is 23 years old."
name = "John"
age = 23
print("%s is %d years old." % (name, age))

## Basic argument specifiers you should know:
#### %s - String (or any object with a string representation, like numbers)
#### %d - Integers 
#### %f - Floating point numbers
#### %.< number of digits >f - Floating numbers with a fixed amount of digits to the right of the dot.
#### %x/%X - Integers in hex representation (lowercase/uppercare)

In [ ]:
# Write a format string which prints out the data using the following syntax:
# Hello John Doe. Your current balance is $53.44

data = ("John", "Doe", 53.44)
format_string = "Hello %s %s. Your current balance is $%s."

print(format_string % data)

## Basic String Operations

In [ ]:
# Strings are bits of text. They can be defined as anything between quotes:
astring = "Hello world!"
astring2 = 'Hello world!'

In [ ]:
# You can also use single quotes to assign a string.
# However, you will face problems if the value to be assigned itself contains single quotes

#Assign the string in these bracket(single quotes are '') you need to use double quotes only:

astring = "Hello world!"
print("single quotes are ' '")

#This prints out 12, because "Hello world!" is 12 characters long,
#including punctuation and spaces.
print(len(astring))

In [ ]:
# This prints out 4, because:
# the location of the first occurence of the letter "o" is 4 characters away from the first character
astring = "Hello world!"
print(astring.index("o"))

# Notice there are two o's in the phrase - this method only recognizes the first
# Remember Python starts at 0 instead of 1 (index of "o" is 4)

In [ ]:
# This counts the number of l's in the string. 
# Therefore, it should print 3.

astring = "Hello world!"
print(astring.count("l"))

In [ ]:
# This prints a slice of the string, starting at index 3, and ending at index 6.
# Why 6 and not 7?
# It makes doing math inside those brackets easier

astring = "Hello world!"
print(astring[3:7])

In [ ]:
# If you have one number in the brackets, it will give you the single character at that index
# If you leave out the first number but keep the colon, it ill give you a slice from the start,
# to the number you left in.
# If you leave out the second number, it will give you a slice from the first number to the end.

In [ ]:
# You can even put negative numbers inside the brackets.
# They are an easy way of starting at the end of the string instead of the beginnning
# -3 means "3rd character from the end"

print(astring[-3:])

In [ ]:
astring = "Hello world!"
print(astring[3:7:2])

In [ ]:
#This prints the characters of string from 3 to 7 skipping one character. 
# This is extended slice syntax. 
# The general form is [start:stop:step].
astring = "Hello world!"
print(astring[3:7])
print(astring[3:7:1])

In [ ]:
# There is no function like strrev in C to reverse a string. 
# But with the above mentioned type of slice syntax you can easily reverse a string like this
astring = "Hello world!"
print(astring[::-1])

In [ ]:
# These make a new string with all letters converted to uppercase and lowercase, respectively.
astring = "Hello world!"
print(astring.upper())
print(astring.lower())

In [ ]:
# To determine whether the string starts with something or ends with something, respectively.
astring = "Hello world!"
print(astring.startswith("Hello"))
print(astring.endswith("asdfasdasdf"))

In [ ]:
# This splits the string into a bunch of strings groupeed together in a list
# Since this example splits at a space, the first item will be "Hello",
# The second item in the list will be "world!"

afewwords = astring.split(" ")
print(afewwords)

In [ ]:
s = "Strings are awesome!"
# Length should be 20
print("Length of s = %d" % len(s))

# First occurrence of "a" should be at index 8
print("The first occurrence of the letter a = %d" % s.index("a"))

# Number of a's should be 2
print("a occurs %d times" % s.count("a"))

# Slicing the string into bits
print("The first five characters are '%s'" % s[:5]) # Start to 5
print("The next five characters are '%s'" % s[5:10]) # 5 to 10
print("The thirteenth character is '%s'" % s[12]) # Just number 12
print("The characters with odd index are '%s'" %s[1::2]) #(0-based indexing)
print("The last five characters are '%s'" % s[-5:]) # 5th-from-last to end

# Convert everything to uppercase
print("String in uppercase: %s" % s.upper())

# Convert everything to lowercase
print("String in lowercase: %s" % s.lower())

# Check how a string starts
if s.startswith("Str"):
    print("String starts with 'Str'. Good!")

# Check how a string ends
if s.endswith("ome!"):
    print("String ends with 'ome!'. Good!")

# Split the string into three separate strings,
# each containing only a word
print("Split the words of the string: %s" % s.split(" "))

# Conditions

In [ ]:
# Python uses boolean logic to evaluate conditions.
# The boolean values True and Flase are returned when an expression is compared or evaluated

x = 2
print(x == 2) # prints out True
print(x == 3) # prints out False
print(x < 3) # prints out True

In [ ]:
# Variable assignment is done using a single equals operator "="
# Comparison between two variables is done with "=="
# The "not equals" operator is marked as "!="

## Boolean operators
### A binary variable, having two possible values called “true” and “false.”

In [ ]:
# The "and" and "or" boolean operators allow building complet boolean expressions:
name = "John"
age = 23
if name == "John" and age == 23:
    print("Your name is John, and you are also 23 years old.")

if name == "John" or name == "Rick":
    print("Your name is either John or Rick.")

## If Statements

In [ ]:
# Python uses indentation to define code blocks, instead of brackets
# 4 spaces, or tabs work as well
# Notice that code blocks do not need any termination

# This uses Python's "if" statement using code blocks:
statement = False
another_statement = True
if statement is True:
    # do something
    pass
elif another_statement is True: # else if
    # do something else
    pass
else:
    # do another thing
    pass

In [ ]:
# For example:
x = 2
if x == 2:
    print("x equals two!")
else:
    print("x does not equal to two.")

In [ ]:
# A statement is evaluated as true if one of the following is correct:
# 1. The "True" boolean variable is given, or calculated using an expression (e.g. arithmetic camparison)
# 2. An object which is not considered "empty" is passed.

# Example of objects considered as "empty"
# 1. An empty string: ""
# 2. An empty list: []
# 3. The number zero: 0
# 4. The false boolean variable: False

## Is Operator

In [ ]:
# The 'is' operator
# Unlike "==", "is" operator does not match the values of the variables BUT
# matches the instances themselves
# Example: 
x = [1,2,3]
y = [1,2,3]
print(x == y)
print(x is y)

## Not Operator

In [ ]:
# Using "not" before a boolean expression inverts it:
print(not False) # Prints out True
print((not False) == (False)) # Prints out False

In [ ]:
# Exercise: change variables so that each if statement resolves as True
# change this code
number = 16
second_number = 0
first_array = [1,2,3]
second_array = [1,2]

if number > 15:
    print("1")

if first_array:
    print("2")

if len(second_array) == 2:
    print("3")

if len(first_array) + len(second_array) == 5:
    print("4")

if first_array and first_array[0] == 1:
    print("5")

if not second_number:
    print("6")

## Loops
### Two types of Loops: 'for' and 'while'

## 'For' loops

In [ ]:
# The "for" loop
# For loops iterate over a given sequence
primes = [2, 3, 5, 7]
for prime in primes:
    print(prime)

In [ ]:
# For Loops can iterate over a sequence of numbers using the "range" and "xrange" functions
# Difference between range and xrange is:
# range function returns a new list with numbers of that specified range
# xrange returns an iterator, which is more efficient
# Python 3 uses the range function, which acts like xrange

In [ ]:
# Note that the range function is zero based

# Prints out the numbers 0, 1, 2, 3, 4
for x in range(5):
    print(x)

In [ ]:
# Prints out 3, 4, 5
for x in range(3, 6):
    print(x)

In [ ]:
# Prints out 3, 5, 7
for x in range(3, 8, 2):
    print(x)

## 'While' loops

In [ ]:
# While loops repeat as long as a certain boolean condition is met

# Prints out 0,1,2,3,4
count = 0
while count < 5:
    print(count)
    count += 1  # This is the same as count = count + 1

## 'Break' and 'Continue' Statements

In [ ]:
# break is used to exit a for or while loop
# continue is used to skip the current block, and return the "for" or "while" statement

# Prints out 0,1,2,3,4
count = 0
while True:
    print(count)
    count += 1
    if count >= 5:
        break

In [ ]:
# Prints out only odd numbers - 1,3,5,7,9
for x in range(10):
    # Check if x is even
    if x % 2 == 0:
        continue
    print(x)

## Using 'else' for Loops

In [ ]:
# When the loop condition of "for" or "while" statement fails:
# The code part in "else" is executed
# If a break statement is executed inside the for loops, then the "else" part is skipped.

In [ ]:
# Note that the "else" part is executed x